<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV0tGvh3kbVUnYlyV6yfVSN-R-AAnh0E4</string>
	<key>GCM_SENDER_ID</key>
	<string>391428347577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.IncognitoChat</string>
	<key>PROJECT_ID</key>
	<string>finalproject-a1ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-a1ffc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391428347577:ios:a67acff5b557f05d87ed68</string>
</dict>
</plist>